.course-name {
  color: white;
  font-weight: 700;
  font-size: 2rem;
}
.head-title-cloud {
  font-size: clamp(1.25rem, 8vw + 1rem, 5rem);
  color: white;
  text-align: center;
}
.hero-button {
  margin: 0;
}
.course-description {
  font-size: 0.875rem;
}
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;
}
.button-paragraph {
  max-width: 15rem;
  font-size: 0.875rem;
  color: white;
  text-align: justify;
}
.button-paragraph > span {
  color: #4ea4f5;
  font-weight: 700;
}

.course-section {
  background-color: #121214;
  padding: 8rem 0;
}
.course-section-container {
  max-width: 1120px;
  margin: 0 1rem;
  position: relative;
}
.course-section-texts {
  position: relative;
}
.course-section-texts {
  max-width: 15rem;
}
.course-section-texts > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: sticky;
  position: -webkit-sticky;
  top: 5rem;
  color: white;
}
.course-section-texts h2 {
  color: #4ea4f5;
  font-weight: 700;
  font-size: 2rem;
}

.structure-columns {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 2rem;
  max-width: 760px;
}
.structure {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-areas:
    "icon title"
    "content content";
  color: white;
  background-color: #121214;
  border: 1px solid #333;
  border-radius: 50px;
}
.structure-icon {
  display: flex;
  justify-content: center;
  grid-area: icon;
  padding-top: 24px;
}
.structure-icon > svg {
  width: 64px;
  height: 64px;
}
.structure-icon img {
  display: none;
}
.structure h4 {
  grid-area: title;
  padding-top: 24px;
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 28px;
}
.structure p {
  grid-area: content;
  text-align: justify;
  padding: 16px 34px 34px 16px;
}
@media (min-width: 600px) {
  .button-container {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
  .course-section-container {
    margin: 0 2rem;
  }
  .structure {
    grid-template-areas:
      "icon title"
      "icon content";
  }
  .structure-icon {
    border-right: 1px solid #333;
    margin-right: 1rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-between;
  }
  .structure-icon > svg {
    width: 88px;
    height: 88px;
  }
  .structure-icon img {
    display: inline-block;
    height: 88px;
    position: absolute;
    bottom: -18px;
  }
  .structure p {
    padding-left: 0;
  }
}

@media (min-width: 900px) {
  .course-section {
    display: flex;
    justify-content: center;
  }
  .course-section-container {
    display: flex;
    gap: 5rem;
  }
  .course-section-texts {
    max-width: 12;
  }
  .structure-columns {
    margin-top: 0;
    max-width: none;
  }
}
@media (min-width: 900px) AND (max-width: 1000px) {
  .course-section-texts {
    margin-right: 2rem;
  }
}
