.course-name {
  color: white;
  font-weight: 700;
  font-size: 2rem;
}
.head-title-cloud {
  font-size: clamp(1rem, 12vw + 1rem, 3.5rem);
  color: white;
  white-space: nowrap;
}
.hero-button {
  margin: 0;
}
.course-description {
  font-size: 0.875rem;
}
.button-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
}
.button-paragraph {
  max-width: 15rem;
  font-size: 0.875rem;
  color: white;
  text-align: justify;
}
.button-paragraph > span {
  color: #4ea4f5;
  font-weight: 700;
}
