* {
  text-decoration: none;
  list-style: none;
}
#footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-styles-container {
  width: 50rem;
  margin: 0 2rem;
}
.footer-top-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-left-container {
  display: flex;
  flex-direction: column;
}
.footer-left-container span {
  color: #ccc;
}
.footer-right-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 1.25rem;
  flex-wrap: wrap;
  color: #fff;
}
.footer-right-container a,
.footer-right-container li {
  color: #ccc;
}
.footer-styles-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}
.img-styles {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.img-styles img {
  width: 30px;
}
.top-btn-styles {
  display: none;
}
@media (min-width: 900px) {
  .footer-styles-container {
    margin: 0 2rem;
  }
  .footer-top-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-right-container {
    gap: 3rem;
  }
  .top-btn-styles {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: white;
    border-radius: 5px;
  }
}
@media (min-width: 1280px) {
  .footer-styles-container {
    margin: 0 2rem;
    min-width: 1120px;
  }
  .img-styles img {
    width: 40px;
  }
}
