@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
}
html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  background-color: #4ea4f5;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
:root {
  --fs-small-text: 0.875rem;
  --fs-normal-text: 1rem;
  --fs-subtitle: 1.25rem;
  --fs-subtitle-700: 1.875rem;
  --fs-title-700: clamp(3.5rem, 12vw + 1rem, 12rem);
}
.links-underline-style {
  position: relative;
}
.links-underline-style::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: #1e3a8a;
  transform: scaleX(0);
  transform-origin: right;
  transition: 200ms transform ease-in;
}
.links-underline-style:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
