.header{
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    background-color: #E9F1FA;
    position: sticky;
    top: 0;
}
.menu-list{
    display: flex;
    list-style: none;
    gap: 5rem;
    text-transform: uppercase;
}
.mobile-menu{
    display: none;
}
@media(max-width:900px){
    .menu-list{
        display: none;
    }
    .mobile-menu{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        cursor: pointer;
    }
    .menu-options-hamburger{
        height: 0.2em;
        width: 3em;
        background-color: #1558f4;
    }
}
