.header {
  display: flex;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  background-color: transparent;
}
.menu-list {
  display: flex;
  list-style: none;
  gap: 3rem;
  text-transform: uppercase;
}
.logo,
.menu-links {
  color: #fff;
  transition: all 200ms;
}
.mobile-menu {
  display: none;
}
@media (max-width: 300px) {
  .mobile-menu-list {
    width: 70%;
  }
}
@media (min-width: 600px) {
  .header {
    padding-left: 5em;
    padding-right: 5em;
  }
}

@media (max-width: 900px) {
  .menu-list {
    display: none;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
  }
  .menu-options-hamburger {
    height: 1px;
    width: 3em;
    background-color: #fff;
    transition: 200ms;
  }
  .open .bar1 {
    transform: rotate(-45deg) translate(-8px, 7px);
  }
  .open .bar2 {
    opacity: 0;
  }
  .open .bar3 {
    transform: rotate(45deg) translate(-8px, -7px);
  }
  .mobile-menu-list {
    display: none;
    flex-direction: column;
    align-items: center;
    list-style: none;
    position: absolute;
    top: 73.56px;
    right: 0px;
    height: calc(100vh - 50px);
    width: 70%;
    background-color: #655cdd54;
  }
}
.display-flex {
  display: flex;
}
