.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8em 0;
}
.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--fs-400);
}
.head-title {
  font-size: var(--fs-xl);
  color: #fff;
}
.hero-text > p {
  max-width: 25em;
  text-align: center;
  color: #fff;
  font-size: var(--fs-400);
  padding: 0 1em;
}
.hero-button {
  padding: 1em 2em;
  background: #4ea4f5;
  color: #fff;
  font-size: var(--fs-400);
  cursor: pointer;
  outline: transparent;
  margin-top: 1.875rem;
  border-radius: 50px;
  border: transparent;
  transition: 200ms;
  text-align: center;
}
.hero-button:hover {
  transform: scale(1.05);
}
.hero-button:active {
  opacity: 0.8;
}
.courses-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8em 0;
}
.courses-styles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.card-course {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  max-width: 18.75rem;
  border-radius: 50px;
  background: #655cdd54;
  min-height: 500px;
}
.big-screens {
  display: none;
}
.card-course-image {
  width: 12rem;
}
.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}
.paragraph-title {
  font-size: var(--fs-500);
  font-weight: 500;
  letter-spacing: 3px;
  border-bottom: 1px solid #4ea4f5;
  color: #fff;
}
.paragraph-description {
  font-size: var(--fs-300);
  text-align: center;
  max-width: 250px;
  margin-top: 10px;
  color: #fff;
}

.card-button {
  padding: 0.8em 2em;
  color: #fff;
  background: #4ea4f5;
  font-size: var(--fs-300);
  border-radius: 50px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  white-space: nowrap;
}
@media (min-width: 301px) {
  .card-text {
    padding: 0 2rem;
  }
}
@media (min-width: 900px) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1rem;
    --fs-500: 1.5rem;
    --fs-700: 1.875rem;
    --fs-xl: clamp(3.5rem, 12vw + 1rem, 8rem);
  }
  .big-screens {
    display: block;
  }
  .mobile {
    display: none;
  }
  .courses-section {
    padding: 8em 2em;
  }
  .courses-styles-container {
    align-items: normal;
  }
  .card-course {
    flex-direction: row;
    max-width: 1120px;
  }
  .card-course-image {
    width: 50rem;
    height: auto;
    max-width: 100%;
  }
  .card-text {
    gap: 1rem;
  }
  .paragraph-title {
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 3px;
    border-bottom: 1px solid #4ea4f5;
    color: #fff;
  }
  .paragraph-description {
    font-size: var(--fs-300);
    text-align: center;
    max-width: none;
    margin-top: 10px;
    color: #fff;
  }
  .hero-text > p {
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .head-title {
    font-size: 10rem;
  }
  .courses-styles-container {
    min-width: 1120px;
  }
}
