.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #ccc;
  background: linear-gradient(133.92deg, #1e3a8a 16.35%, #4ea4f5 72.83%);
}
.login-img {
  width: 15rem;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.e-mail,
.password {
  display: flex;
  flex-direction: column;
}
.login-form > span {
  font-size: 3rem;
  font-weight: bold;
}
.container input {
  max-width: 20rem;
  height: 2rem;
  outline: transparent;
  border: 1px solid transparent;
  padding: 1.25rem 1rem;
  border-radius: 50px;
  font: inherit;
}
@media (min-width: 370px) {
  .login-container {
    padding-bottom: 2rem;
  }
  .login-container input {
    max-width: none;
    min-width: 20rem;
  }
}
@media (min-width: 700px) {
  .container {
    flex-direction: row;
    gap: 5rem;
  }
  .login-img {
    width: 18rem;
  }
}
@media (min-width: 940px) {
  .container {
    justify-content: space-evenly;
  }
  .login-img {
    max-width: 30rem;
    width: 100%;
  }
  .login-form {
    background-color: #3f3c6d54;
    padding: 2rem;
    border-radius: 50px;
  }
  .login-form > span {
    margin-bottom: 3rem;
  }
  .e-mail > label,
  .password > label {
    margin-bottom: 10px;
  }
  .e-mail > input {
    margin-bottom: 1rem;
  }
}
