@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
.show-courses-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8rem 0 16rem 0;
  background: #1e3a8a;
}
.course-styles-container {
  min-width: 0;
  margin: 0 1rem;
}
#course-slide {
  margin-top: 2rem;
  background-color: #2c419b;
  padding: 0 2rem;
  border-radius: 50px;
}
.button-container {
  display: flex;
  gap: 1.875rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
}
.course-slide-left {
  max-width: 800px;
}
.course-slide-right {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.course-slide-description,
.course-slide-headline {
  color: #fff;
}
.show-courses-btn,
.course-slide-btn {
  padding: 0.625em 1.875em;
  font-size: 1.25rem;
  color: #fff;
  background-color: #4ea4f5;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  transition: 200ms;
  flex: 0 0 10rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
.course-slide-headline,
.course-slide-description {
  margin-bottom: 1.875rem;
}
.show-courses-btn:active,
.course-slide-btn:active {
  opacity: 0.8;
}
.course-img {
  width: 20rem;
  height: auto;
}
.course-img {
  display: none;
}
@media (min-width: 300px) {
  .course-styles-container {
    margin: 0 2rem;
  }
  .course-img {
    display: block;
  }
}
@media (max-width: 660px) {
  .button-container {
    overflow-x: scroll;
  }
}
@media (min-width: 900px) {
  #course-slide {
    display: flex;
    align-items: center;
  }
  .course-styles-container {
    max-width: 1120px;
  }
  .button-container {
    display: flex;
    gap: 1.875rem;
    margin-bottom: 3rem;
  }
  .course-slide-headline {
    font-size: 50px;
  }
  .course-img {
    min-width: 20rem;
  }
}
